{% extends 'base.html' %}
{% load static %}

{% block rightcontblock %}

{# <!-- NEW USER POST --> #}

<div class="card bg-light text-center mx-3 my-5">
    <form method="POST" class="post-form">
        <div class="card-body">
            {% csrf_token %}
            {% load widget_tweaks %}
            <div class="form-group">
                {% render_field pform.text class+="form-control" placeholder+="New post" %}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Post</button>
        </div>
    </form>
</div>

{# <!--  --> #}

<hr class="mx-3 my-3">

{# <!-- POSTS --> #}

{% load static %}
{% for post in posts %}

<div class="card bg-light mx-3">
    <div class="card-body">
        <p class="card-text">{{ post.text }}</p>
    </div>
    <div class="card-footer text-muted">

        <img class="rounded-circle" src="{{ post.user.photo.url }}" alt="{{ post.user.username }}" height="32" width="32">

        <a href="{% url 'user' username=post.user.username %}" class="badge badge-dark"> @{{ post.user.username }}</a>
        <a href="{% url 'post_detail' pk=post.pk %}" class="badge">{{ post.created_at }}</a>

        <div class="btn-group btn-group-sm float-right" role="group" aria-label="Post Misc">
           
            {% if user in post.likes.all %}
                <button type="button" class="btn btn-outline-dark" href="{% url 'post_like' pk=post.pk %}" id="like{{ post.pk }}" data-id="{{ post.pk }}">
                    <i class="material-icons align-middle" role="presentation" id="icon{{ post.pk }}">favorite</i>
                    <span id="numlikes{{ post.pk }}">{{ post.likes.count }}</span>
                </button>

            {% else %}
                <button type="button" class="btn btn-outline-dark" href="{% url 'post_like' pk=post.pk %}" id="like{{ post.pk }}" data-id="{{ post.pk }}">
                    <i class="material-icons align-middle" role="presentation" id="icon{{ post.pk }}">favorite_border</i>
                    <span id="numlikes{{ post.pk }}">{{ post.likes.count }}</span>
                </button>
            {% endif %}

            <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-outline-dark">
                <i class="material-icons align-middle" role="presentation">reply</i>
                <span> {{ post.replys }} </span>
            </a>
            
            {% if post.user.id == user.pk %}
            <a href="{% url 'post_delete' pk=post.pk %}" class="btn btn-outline-dark">
                <i class="material-icons align-middle" role="presentation">delete</i>
            </a>
            {% endif %}

        </div>
    </div>
</div>

{% for reply in replies %}
{% if reply.parent_id == post.id %}

<div class="card bg-light ml-5 mr-3">
    <div class="card-body">
        <p class="card-text">{{ reply.text }}</p>
    </div>
    <div class="card-footer text-muted">
        <a href="{% url 'user' username=reply.user.username %}" class="badge badge-dark"> @{{ reply.user }}</a>
        <a href="{% url 'post_detail' pk=post.pk %}" class="badge">{{ reply.created_at }}</a>

        <div class="btn-group btn-group-sm float-right" role="group" aria-label="Reply Misc">            
            <a href="{% url 'post_detail' pk=reply.pk %}" class="btn btn-outline-dark">
                <i  class="material-icons align-middle" 
                    role="presentation">reply</i><span>{{ reply.replys }}</span></a>
        </div>
    </div>
</div>

{% endif %}
{% endfor %}

</br>

{% endfor %}

{% endblock %}

{% block js %}     
<script src="{% static 'js/blog.js' %}"></script>
{% endblock %}