{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="col-md-8 mx-auto">

  <div class="card text-center mx-3 my-3">
    <img class="rounded-circle mx-auto mt-3" src="{{ puser.photo.url }}" alt="Card image" height="128" width="128">
    <div class="card-body">
      <h3 class="card-title">
        {% if puser.first_name %}
          {{ puser.first_name}}
        {% endif %}
        {% if puser.last_name %}
          {{ puser.last_name}}
        {% endif %}
      </h3>
      <h5 class="card-title">
        <a href="/u/{{ puser.username }}">
          @{{ puser.username }}
        </a>
      </h5>
      {% if puser.bio %}
      <p class="card-text">{{ puser.bio }}</p>
      {% endif %}
      <hr class="my-3">
      {% if puser.id != user.id %}
      <form action="/follow_unfollow" method="post">
        {% csrf_token %}
        <input type="hidden" name="follow" value="{{ puser.id }}">

        {% if follow %}
        <button type="submit" class="btn btn-outline-primary">Unfollow</button>
        {% else %}
        <button type="submit" class="btn btn-primary">Follow</button>
        {% endif %}
      </form>
      {% else %}
      <a href="{% url 'edit_profile' %}" class="btn btn-outline-dark">Edit Profile</a>
      {% endif %}

    </div>
  </div>

  {% for post in userposts %}
  <br>
  <div class="card bg-light mx-3">
    <div class="card-body">
      <p class="card-text">{{ post.text }}</p>
    </div>
    <div class="card-footer text-muted">

      <img class="rounded-circle" src="{{ post.user.photo.url }}" alt="{{ post.user.username }}" height="32" width="32">

      <a href="/users/{{ post.user }}" class="badge badge-dark"> @{{ post.user }}</a>
      <a href="{% url 'post_detail' pk=post.pk %}" class="badge">{{ post.created_at }}</a>

      <div class="btn-group btn-group-sm float-right" role="group" aria-label="Post Misc">
          {% if user in post.likes.all %}
            <button type="button" class="btn btn-outline-dark" href="{% url 'post_like' pk=post.pk %}" id="like{{ post.pk }}" data-id="{{ post.pk }}">
                <i class="material-icons align-middle" role="presentation" id="icon{{ post.pk }}">favorite</i>
                <span id="numlikes{{ post.pk }}">{{ post.likes.count }}</span>
            </button>
          {% else %}
            <button type="button" class="btn btn-outline-dark" href="{% url 'post_like' pk=post.pk %}" id="like{{ post.pk }}" data-id="{{ post.pk }}">
                <i class="material-icons align-middle" role="presentation" id="icon{{ post.pk }}">favorite_border</i>
                <span id="numlikes{{ post.pk }}">{{ post.likes.count }}</span>
            </button>
          {% endif %}
        <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-outline-dark">
          <i class="material-icons align-middle" role="presentation">reply</i>
          <span> {{ post.replys }} </span></a>
        {% if post.user.id == user.pk %}
        <a href="" class="btn btn-outline-dark">
          <i class="material-icons align-middle" role="presentation">delete</i>
          <span></span></a>
        {% endif %}
      </div>
    </div>
  </div>

  {% for reply in replies %}
  {% if reply.parent_id == post.id %}

  <div class="card bg-light ml-5 mr-3">
    <div class="card-body">
      <p class="card-text">{{ reply.text }}</p>
    </div>
    <div class="card-footer text-muted">
      <a href="/users/{{ reply.user }}" class="badge badge-dark"> @{{ reply.user }}</a>
      <a href="{% url 'post_detail' pk=post.pk %}" class="badge">{{ reply.created_at }}</a>

      <div class="btn-group btn-group-sm float-right" role="group" aria-label="Reply Misc">
        {% if user in reply.likes.all %}
          <button type="button" class="btn btn-outline-dark" href="{% url 'post_like' pk=reply.pk %}" id="like{{ reply.pk }}" data-id="{{ reply.pk }}">
            <i class="material-icons align-middle" role="presentation" id="icon{{ reply.pk }}">favorite</i>
            <span id="numlikes{{ reply.pk }}">{{ reply.likes.count }}</span>
          </button>
        {% else %}
          <button type="button" class="btn btn-outline-dark" href="{% url 'post_like' pk=reply.pk %}" id="like{{ reply.pk }}" data-id="{{ reply.pk }}">
            <i class="material-icons align-middle" role="presentation" id="icon{{ reply.pk }}">favorite_border</i>
            <span id="numlikes{{ reply.pk }}">{{ reply.likes.count }}</span>
          </button>
        {% endif %}
        <a href="{% url 'post_detail' pk=reply.pk %}" class="btn btn-outline-dark">
          <i class="material-icons align-middle" role="presentation">reply</i><span>{{ reply.replys }}</span></a>
      </div>
    </div>
  </div>

  {% endif %}
  {% endfor %}
  {% endfor %}

</div>
{% endblock %}