.avatar {
    width: 64px;
    height: 64px;
    border-radius: 32px;
}

.avatar-post {
    width: 48px;
    height: 48px;
    /* padding: 2% 0 2% 2%; */
}

.mdl-grid {
    justify-content: center;
}

.user-dropdown {
    padding: 24px 0 24px 0;
    align-content: center;
    text-align: center;
}

.username-dropdown {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 15px 0px 10px 0px;
}

/* material icons drawer */
.m-i-drawer {
    font-size: 24px;
    margin-right: 32px;
    text-align: center;
    padding: 0;
}

.mdl-navigation__link {
    padding: 0;
    margin: 0;
}

.mdl-navigation {
    padding: 0;
    margin: 0;
}

.card-separator {
    height: 32px;
}

/* 
    Posts css */

.post-form {
    width: 100%;
    display: inline;
    text-align: center;
}

.post-img-user{
    float: left;
    height: 50px;
    line-height: 50px;
}

.post-btn-inf {
    height: 50px;
    line-height: 50px;
}

.post-create-date{
    font-weight: bold;
    font-size: 12px;
    float: right;
}

.post-fav-event-icons{
    float: right;
    height: 50px;
    line-height: 50px;
}

.hide {
    display: none;
}

/* 
    Changing textfield and input to pink to match color palette */
.mdl-textfield__input{
    width: 100%;
}

.mdl-textfield.is-invalid .mdl-textfield__input {
    border-color: #ff4081;
    box-shadow: none
}

.mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
    color: #ff4081;
    font-size: 12px
}

.mdl-textfield.is-invalid .mdl-textfield__label:after {
    background-color: #ff4081
}

.mdl-textfield__error {
    color: #ff4081;
    position: absolute;
    font-size: 12px;
    margin-top: 3px;
    visibility: hidden;
    display: block
}

/* 
    Event card mockup css */

.demo-card-event.mdl-card {
    width: 256px;
    height: 256px;
    background: #26C6DA;
}

.demo-card-event>.mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
}

.demo-card-event>.mdl-card__title {
    align-items: flex-start;
}

.demo-card-event>.mdl-card__title>h4 {
    margin-top: 0;
}

.demo-card-event>.mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.demo-card-event>.mdl-card__actions>.material-icons {
    padding-right: 10px;
}

.demo-card-event>.mdl-card__title, .demo-card-event>.mdl-card__actions, .demo-card-event>.mdl-card__actions>.mdl-button {
    color: #fff;
}

.month {
    width: 98%;
    margin: auto;
    font-size: 13px;
  }
  
  .month tr, .month td {
    border: 1px solid black;
  }
  
  .month th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }
  
  .month td {
    width: 100px;
    height: 50px;
    padding: 20px 0px 0px 5px;
  }
  
  .month {
    font-size: 25px;
  }
  
  .date {
    font-size: 16px;
  }
  