{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

  <title>Ziger</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

  {% if user.is_authenticated %}
  {# <!-- IF AUTHENTICATED --> #}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Ziger</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerHeader"
      aria-controls="navbarTogglerHeader" aria-expanded="false" aria-label="Toggle header">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerHeader">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link " href="/"><i class="material-icons align-top" role="presentation">home</i>  Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chat/"><i class="material-icons align-top" role="presentation">chat</i> Chat </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'people' %}"><i class="material-icons align-top" role="presentation">people</i> People </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'help' %}"><i class="material-icons align-top" role="presentation">help_outline</i> Help </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}"><i class="material-icons align-top" role="presentation">exit_to_app</i> Log out </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  {% else %}
  {# <!-- IF NOT AUTHENTICATED --> #}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Ziger</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerHeader"
      aria-controls="navbarTogglerHeader" aria-expanded="false" aria-label="Toggle header">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerHeader">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link " href="/"><i class="material-icons align-top" role="presentation">home</i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'help' %}"><i class="material-icons align-top" role="presentation">help_outline</i> Help</a>
        </li>
      </ul>
    </div>
  </nav>
  {% endif %}

    <main class="container">

      {# <!-- IF AUTHENTICATED --> #}
      {% if user.is_authenticated %}

      <div class="row">
        <div class="col-12 order-first">
            {% include 'messages.html' %}
        </div>

        {% block content %}

        {# <!-- LEFT --> #}
        <div class="col-lg-4 order-first">
          <div class="card text-center mx-3 my-5">
            <img class="rounded-circle mx-auto mt-3" src="{{ user.photo.url }}" alt="{{ user.username }}" height="128" width="128">
            <div class="card-body">
              <h3 class="card-title">
                
                {% if user.first_name %}
                  {{ user.first_name}}
                {% endif %}
                {% if user.last_name %}
                  {{ user.last_name}}
                {% endif %}

              </h3>
              <h5 class="card-title"><a href="{% url 'user' username=user.username %}">@{{ user.username }}</a></h5>
              
              {% if user.bio %}
              <p class="card-text">{{ user.bio }}</p>
              {% endif %}
              
              <hr class="my-3">
              <a href="{% url 'user' username=user.username %}" class="btn btn-primary">See Profile</a>
            </div>
          </div>
          <div class="d-none d-lg-block">
            <div class="card text-center mx-3">
              <div class="card-text text-muted">
                  © 2019 Ziger
              </div>
            </div>

            {% block leftcontblock %}
            {% endblock %}
            
          </div>
        </div>

        {# <!-- RIGHT --> #}
        <div class="col-lg-8">

          {% block rightcontblock %}
          {% endblock %}

        </div>
        {# <!--  -->#}

        {% endblock %}

      </div>
    </main>

    {% else %}

    {# <!-- IF NOT AUTHENTICATED --> #}
    <div class="row">
      <div class="col-12 order-first">
          {% include 'messages.html' %}
      </div>

      {% block offcontblock %}
      {% endblock %}

    </div>
    </main>
    {% endif %}
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block js %} {% endblock %}
  </div>
</body>
</html>